body {
    background-color: #1e1e2f; 
    color: #fff; 
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #f5a623; 
}

header img {
    max-width: 100%;
    height: 200px;
    margin-top: 30pt; 
}

header {
    text-align: center;
}

section div a {
    background-color: #4a90e2; 
    display: flex;
    margin: 20px auto;
    padding: 15px 20px;
    width: 80%; /* Ajusta para telas pequenas */
    max-width: 400px; /* Limita o tamanho em telas grandes */
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border: solid 4px white;
}

section div a:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
    background-color: #f5a623; /* Altera a cor no hover */
}

section div a img {
    vertical-align: middle;
    margin-left: 10px;
}

footer {
    text-align: center;
    color: #888; 
    font-weight: bold;
    margin-top: 50px;
}

/*  telas menores */
@media (max-width: 600px) {
    h1 {
        font-size: 1.8rem; /* Título menor em dispositivos móveis */
    }

    section div a {
        width: 90%; /* Botões mais largos em telas pequenas */
        font-size: 1rem; /* Tamanho da fonte para telas pequenas */
    }
}
